{% extends "base.html" %}

{% block title %}Task list{% endblock %}

{% block content %}
<a href="{% url "trackerApp:all_tasks" %}">All tasks high</a>
    <h1>My tasks</h1>
    {% for task in tasks %}
        <h2>
            <a href="{{ task.get_absolute_url }}">{{ task.title }}</a>
        </h2>
        <p>
            Published {{ task.publish }} | {{task.status}} | {{task.high_level_task.author}}
        </p>
        <p>
            {{task.body}}
        </p>

    {% endfor %}
    <a href="{% url "trackerApp:create_form_low" %}">Create</a>
{% endblock %}